@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

.roboto {
  font-family: var(--font-roboto), sans-serif;
}

.close-window-btn:hover svg path {
  fill: #ffffff77;
}

.press {
  font-family: var(--font-press-start), sans-serif;
}

.box-shadow {
  box-shadow: 25px 20px 1px rgba(0, 0, 0, 0.7);
}

.desktop-window {
  box-shadow: 0 0 1rem #0000006f;
}
