@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-press-start), sans-serif;
}

.roboto {
  font-family: var(--font-roboto), sans-serif;
}

.close-window-btn:hover svg path {
  fill: #ffffff77;
}
